@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.list {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	margin: 32.76px 0 21.24px 0;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}
.logo {
	margin: 30px 0 0 30px;
}
.first {
	display: inline-block;
	margin-left: 49.81px;
}
.second {
	display: inline-block;
	margin-left: 22px;
}
.third {
	display: inline-block;
	margin-left: 39px;
}
.banner {
	margin: 84.87px 0 0 98px;
}
.fb {
	margin: 68.29px 0 0 109.53px;
	border-right:1px solid #363E97;
	padding-right: 35.6px;
}
.yt {	
	margin: 69.95px 0 0 20.19px;
}
.inside {
	background-color: #E6E6E6;
	width: 1366px;
	height: 570px;
}
.container {
	padding: 73.49px 64.7px 404.51px 87.3px; 
	display: inline-block; 
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
}
.head{
	font-size: 20px;
	color: #3D58A6;
	font-weight: bold;
	margin-bottom: 2px;
}
.text {
	font-size: 16px;
	color: #808080;
}
.text span {
	font-size: 16px;
	color: #000000;
	font-weight: bold;
}
.map {
	padding-top: 52px;
	width: 874px;
	height: 466px; 
}
.start {
	font-size: 24px;
	margin: 109.59px 0 0 98px;  
	font-weight: bold;
}
.main {
	background-color: #F2F2F2;
	width: 570px;
	height: 225px;
	margin: 29.78px 0 0 98px;
	display: inline-block;
	vertical-align: top;
}
.main-in {
	font-size: 22px;
	padding: 11.05px 0  12.4px  20.77px;
	color: #3D58A6;
}
.hand {
	padding: 12.27px  51.34px 26.73px 36.78px;
}
.main1 {
	background-color: #F2F2F2;
	width: 570px;
	height: 225px;
	margin: 29.78px 0 0 29px;
	display: inline-block;
	vertical-align: top;
}
.main1-in {
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	width: 355px;
}
.number {
	font-size: 48px;
	color: white;
	background-color:#3D58A6;
	width: 56px;
	margin: 41.48px 0 0 34.05px;
	display: inline-block;
}
.month {
	font-size: 22px;
	color: #3D58A6;
	margin-left: 28.95px;
	display: inline-block;
}
.lorem {
	font-size: 20px;
	margin: 50.14px 0 16.51px 30px;
}
.img {
	margin: 16.51px  38.98px 0 30px;
	display: inline-block;
}
.sentence {
	width: 929.02px;
	display: inline-block;
	vertical-align: top;
	margin: 19.98px 0 38.53px 38.98px;
}
.sentence1 {
	margin-bottom: 20px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.img1 {
	display: inline-block;
	vertical-align: top;
	margin: 16.51px 72px 38.53px 63px;
}
